{% extends '_base.html' %}

{% block conteudo %}
  <form action="password_change.php" method="post">
  
    <label for="current_password">Senha atual:</label>
    <input type="text" name="current_password" placeholder="Senha atual" />
    
    <br />

    <label for="new_password">Nova senha:</label>
    <input type="text" name="new_password" placeholder="Nova senha" />

    <br />

    <label for="verify_password">Verificar nova senha:</label>
    <input type="text" name="verify_password" placeholder="recoloque a nova senha" />
    
    <input type="submit" value="Adicionar" />
  </form>
{% endblock %}
